.m-list{
  height:100%;
  overflow:auto;
  @include flexbox();
  @include flex-direction(column);
}
.sort{
  position:fixed;
  top:44px;
  left:0; 
  width:100%;
  z-index: 99;
  background: white;
  @include flexbox();
  li{
    @include flex();
    text-align:center;
    height:30px;
    line-height:30px;
    margin-bottom:5px;
    background:white;
  }
}

    .product{
       /* padding-top:20px; */
       overflow:auto;
       height:100%;

       touch-action: none;
       a{
           margin-bottom:.06rem ;
           background: white;
           @include flexbox();
           @include justify-content(center);
           @include align-items(top);
           padding: .1rem;
           padding-right: .02rem;
          
           img{
               height: 1rem;
               width: 1rem;
           }
           div.product-right{
             flex: 1; 
             @include flexbox();
             @include flex-direction(column);
             @include justify-content(first);
             @include align-items(top);
             padding-left: .08rem;
             position: relative;
            
             h3{
                
                 line-height: .14rem;
                 color:#252525;
                 font-weight: normal;
                 margin-bottom:.2rem ;
                
             }
             p{
                 color: #f55;
                 font-size: .18rem;
                 font-weight: bold;
                s{
                     font-size: .12rem;
                     color: #b4b4b4;
                     margin-left: .07rem;
                     text-decoration: line-through;
                 }
             }
             img{
                 position: absolute;
                 width:.3rem;
                 height: .3rem;
                 bottom: .05rem;
                 right: .05rem;
             }
              
           }
           
       }    
    }